In [1]:
a="sudh"

In [2]:
len(a)

4

In [3]:
l=[2,3,4,5,"sudh",4.67]

In [4]:
len(l)

6

In [7]:
def test():

IndentationError: expected an indented block (2690612609.py, line 2)

In [8]:
def test():
    pass

In [9]:
def test1():
    print("this is my very first function in python")

In [10]:
test1()

this is my very first function in python

In [11]:
a=1

In [12]:
b=test1()

this is my very first function in python

In [13]:
b

In [14]:
print(b)

None

In [16]:
c="kumar"

In [17]:
type(c)

str

In [18]:
type(test1())

this is my very first function in python

NoneType

In [19]:
def test2():
    return 5

In [20]:
test2()

5

In [21]:
d=test2()

In [22]:
d

5

In [23]:
type(print("This"))

This

NoneType

In [24]:
def test3():
    return 5

In [25]:
def test4():
    print("this is my print return")

In [26]:
test3()

5

In [27]:
test4()

this is my print return

In [28]:
e=test4()

this is my print return

In [30]:
e

In [31]:
e+"sudh"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [32]:
def test3():
    return "sudh"

In [33]:
test3()+"kumar"

'sudhkumar'

In [34]:
test4()+"kumar"

this is my print return

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [35]:
def test5():
    print("this is my python code")

In [36]:
def test6():
    return 1,3,[3,4,5,"sudh"],(3,4,5,6)

In [37]:
test6()

(1, 3, [3, 4, 5, 'sudh'], (3, 4, 5, 6))

In [38]:
type(test6())

tuple

In [39]:
test6()[1]

3

In [40]:
test6()[2]

[3, 4, 5, 'sudh']

In [41]:
def test7():
    return 1,3,[3,4,5,"sudh"],(3,4,5,6)

In [42]:
test7()

(1, 3, [3, 4, 5, 'sudh'], (3, 4, 5, 6))

In [43]:
a,b,c,d=test7()

In [44]:
a

1

In [45]:
b

3

In [46]:
c

[3, 4, 5, 'sudh']

In [47]:
d

(3, 4, 5, 6)

In [48]:
a=1
b=3
c="sudh"

In [50]:
a,b,c=1,3,"sudh"

In [51]:
def test8():
    a=4*5+8
    return a

In [52]:
test8()

28

In [53]:
test8()+8

36

In [54]:
type(test8())

int

In [57]:
l=[2,3,4,5,6,7,8,9]
sum=0
for i in l:
    sum=sum+i
print(sum)

44

In [58]:
def test9():
    l=[2,3,4,5,6,7,8,9]
    sum=0
    for i in l:
        sum=sum+i
    return sum

In [59]:
test9()

44

In [60]:
def test9():
    l=[2,3,4,5,6,7,8,9,"sudh"]
    sum=0
    for i in l:
        sum=sum+i
    return sum

In [61]:
test9()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [62]:
def test9():
    l=[2,3,4,5,6,7,8,9,"sudh"]
    sum=0
    for i in l:
        if type(i)==int:
            
            sum=sum+i
    return sum

In [63]:
test9()

44

In [66]:
len("sudh")

4

In [67]:
len([4,5,6])

3

In [65]:
l1=[4,5,6,7,7,8,"kumar",4.56]

In [70]:
def test10(l):
    sum=0
    for i in l:
        if type(i)==int:
            
            sum=sum+i
    return sum

In [72]:
test10()

TypeError: test10() missing 1 required positional argument: 'l'

In [73]:
test10(l1)

37

In [74]:
def test11(a,b):
    return a+b

In [75]:
test11()

TypeError: test11() missing 2 required positional arguments: 'a' and 'b'

In [76]:
test11(2,3)

5

In [77]:
test11("sudh","kumar")

'sudhkumar'

In [78]:
test11(a=7,b=5)

12

In [79]:
test11(b=8,a=5)

13

In [80]:
l=[3,4,5,6,7,8,"sudh",5,6,7,"kumar","ineuron"]

In [83]:
l1=list()
for i in l:
    if type(i)==str:
        l1.append(i)

In [82]:
l1

['sudh', 'kumar', 'ineuron']

In [89]:
def test12(l):
    l1=list()
    for i in l:
        if type(i)==str:
            l1.append(i)
    return l1

In [90]:
test12(l)

['sudh', 'kumar', 'ineuron']

In [91]:
l2=["fsafca","ggsvhab","jasbdhb",456,56]

In [92]:
test12(l2)

['fsafca', 'ggsvhab', 'jasbdhb']

In [93]:
len("sdf")

3

In [ ]:
test12()

In [95]:
len("sudh")

4

In [96]:
l2

['fsafca', 'ggsvhab', 'jasbdhb', 456, 56]

In [94]:
def test12(l):
    """ this is my function which will help you to separate string from list into a new list"""
    l1=list()
    for i in l:
        if type(i)==str:
            l1.append(i)
    return l1

In [ ]:
test12()

In [ ]:
1. write a function which will try to find out len of a string without using an inbuilt len function 
2. Write a function which will be able to print an index of list element
3. write a function which will be able to print an ip address of your system
4. write a function which will shutdown your system
5. write a function which will take input as a list with any kind of numeric value and give an out as multiplication of all
the numeric data l=[3.5,6.56,4,5,"sudh","ineuron",fsds bootcamp 2.0 ]
6.write a function which will be read all the mails
7.write a function which will be able to send a mail to anyone
8. write a function which will be able to read doc/word file from your system

you are suppose to complete this by 30th before live class and send your solution to

mail id- query@ineuron.ai

submit your git link to mail